<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse sit nobis quaerat. Quasi doloribus molestias,
        nihil repellat eum dicta repellendus minus dolore corrupti fugit iure ad velit, repudiandae officiis eius!
        Nesciunt debitis illo reprehenderit, fugit omnis et nam similique eligendi officiis enim asperiores optio magni.
        Excepturi ullam corrupti quisquam id iste, laboriosam cumque sapiente, asperiores perspiciatis beatae debitis
        ipsam distinctio!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusamus quos ipsa vel asperiores libero
        itaque tenetur tempora labore commodi eum sapiente, consequatur rerum aspernatur delectus autem aliquam? Ullam,
        culpa?</p>

</body>

</html>